body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  justify-self: start;
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #dff5ff;
  border: 2px solid #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

.mobile-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  border-radius: 20px;
}

.ex-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  height: 50%;
  width: 70%;
  max-width: 1000px;
}

.ex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.ex {
  background-color: #dff5ff;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  border-radius: 10px;
}

.ex:hover {
  color: #ffffff;
}

.ex-modal {
  position: absolute;
  width: 40%;
  height: 60%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.4s, top 0.9s;
  background-color: #dff5ff;
  border: 2px black solid;
  border-radius: 20px;
  z-index: 3;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.ex-modal-open {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.ex-choice-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.mood-div {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.workouts {
  gap: 5px;
}

.wo-box {
  display: flex;
  gap: 5px;
}

.delete-wo {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}

/* bg images */

/* walk Photo by Tobi: https://www.pexels.com/photo/person-stands-on-brown-pathway-631986/ */
/* run Photo by Tirachard Kumtanom: https://www.pexels.com/photo/woman-lacing-up-her-gray-and-pink-nike-low-top-athletic-shoe-601177/ */
/* cycle Photo by Haydan As-soendawy: https://www.pexels.com/photo/white-mountain-bike-2883462/ */
/* swim Photo by Pixabay: https://www.pexels.com/photo/close-up-photo-of-swimming-rope-261185/ */
/* gym Photo by Leon Ardho: https://www.pexels.com/photo/barbell-on-the-floor-1552252/ */
/* football Photo by Florian Thomschke : https://www.pexels.com/photo/close-up-of-a-soccer-ball-in-the-goal-19436350/ */
